{% extends 'base.html.twig' %}

{% block title %}Home Ratp Api{% endblock %}

{% block body %}


<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('dynamic') }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        </ul>
       <div class="form-group">
      <label for="exampleSelect1">Example select</label>
      <select class="form-control target" base-url="{{ path('filterList')}}">
      {% for line in lignes|sort %}
        <option>{{line.ligne}}</option>
        {% endfor %}
      </select>
    </div>
    </div>
    </nav>

</div>

<div class="container inner">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Gare</th>
      <th scope="col">Lignes</th>
      <th scope="col">Correspondance</th>
      <th scope="col">Terminus</th>
    </tr>
  </thead>
  <tbody>
   {% for gare in infos %}

   <tr class="table-success">
      <th scope="row">{{ gare["gare"].gareId}}</th>
      <td> {{ gare["gare"].ligne }} </td>
      <td>
      {% for ligne in gare["lignes"] %}
      {{ ligne }}
      {% endfor %}</td>

     
      <td>
      
      {% if gare["gare"].terminus == true %}
      Oui
      {% else %}
      Non
      {% endif %}
      
     
      </td>
   
     
    </tr>
   {% endfor %}
  
   
  </tbody>
</table> 
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
 {# $( ".target" ).select(function() { alert("tet");
    var url = $(this).attr('base-url') + $(this).val();
  $.ajax({
        type: 'POST',
        data:  $('#AttorneyEmpresa').val(),
        url: url,
        success: function () {
            console.log('success');
        }
    });
   
});  #}

$(".target").change(function() {
  //event.preventDefault();
  var line = $('.target').val();
 // alert(line);
//var url = $(this).attr('base-url') ;
  $.ajax({
        type: 'POST',
        url: "{{ path('filterList')}}",
        data: { "line": line },
        success: function (data) {   
          //alert("success"); 
          $( ".inner" ).empty();
         $(".inner").append( data );
        }
    });
}); 


</script>
{% endblock %}





