

  <thead>
    <tr>
      <th scope="col">Gare</th>
      <th scope="col">Lignes</th>
      <th scope="col">Correspondance</th>
      <th scope="col">Terminus</th>
    </tr>
  </thead>
  <tbody>
   {% for gare in infos %}

   <tr class="table-lignt">
      <th scope="row">{{ gare["gare"].gareId}}</th>
      <td> {{ gare["gare"].ligne }} </td>
      <td>
      {# {{dump(gare["lignes"])}} #}
      {% for ligne in gare["lignes"] %}
       {# {{ dump(ligne) }}  #}
       {{ ligne.ligne }}
      {% endfor %}</td>

     
      <td>
      
      {% for ligne in gare["lignes"] %}
       {% if ligne.terminus == true  %}
       {{ ligne.ligne }}
       {% endif %}
      {% endfor %}</td>
      
     
      </td>
   
     
    </tr>
   {% endfor %}
  
   
  </tbody>

