{% extends 'base.html.twig' %}

{% block title %}Home Ratp Api{% endblock %}

{% block body %}


<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('dynamic') }}">Page de Filtre</a>
        </li>
        
        </ul>
        
    </div>
    </nav>
</div>

<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Gare</th>
      <th scope="col">Lignes</th>
      <th scope="col">Terminus</th>
    </tr>
  </thead>
  <tbody>
   {% for gare in infos %}

   <tr class="table-lignt">
      <th scope="row">{{ gare["gare"].gareNom}}</th>
      <td>
      {% for ligne in gare["lignes"] %}
      {{ ligne.ligne }}
      {% endfor %}</td>

      {% set verif = false %}
      {% set remplacement = "Non" %}
      <td>
      {% for ligne in gare["lignes"] %}
      {% if ligne.terminus == true %}
      {{ ligne.ligne }}
      {% set verif = true %}
      {% endif %}
      {% endfor %}
      {% if verif == false %}
       {{remplacement}} 
      {% endif %}
      </td>
   
      
    </tr>
   {% endfor %}
  
   
  </tbody>
</table> 
</div>
{% endblock %}
